.moffittButton {
  background: #3f3cc8;
  border-radius: 6px;
  border: 2px solid transparent;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 8px;
  color: #ffffff;
  width: 101px;
  top: 200px;
  line-height: 19px;
  text-align: center;
}

.doeButton {
  width: 101px;
  height: 34px;
  left: 1136px;
  top: 200px;
  background: #ffffff;
  border: 1px solid #3f3cc8;
  box-sizing: border-box;
  border-radius: 6px;
  color: #3f3cc8;
  font-size: 8px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

.everything {
  z-index: 1;
}
.hours {
  width: 10%;
  display: flex;
  padding-left: 6%;
  height: 2300px;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: start; */
  /* padding-bottom: 10%; */
}
.boxesAndDates {
  display: flex;
  flex-direction: row;
}

.pencilIcon {
  border: none;
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  /* margin-left: 100%; */
}
