.everythingMS {
  overflow: hidden;
  position: relative;
}

.schedGenerator {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #949494;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 8px;
  color: #949494;
  width: 101px;
  top: 200px;
  line-height: 19px;
  text-align: center;
  margin-right: 18px;
  padding-right: 7px;
  padding-left: 7px;
}

.confirmButton {
  background: #ffffff;
  border-radius: 6px;
  border: 1px solid #949494;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 8px;
  color: #949494;
  width: 101px;
  top: 200px;
  line-height: 19px;
  text-align: center;
  margin-right: 18px;
  padding-right: 7px;
  padding-left: 7px;
}

.schedGenerator:active {
  border: 1px solid black;
  color: black;
}

.confirmButton:active {
  border: 1px solid black;
  color: black;
}

.masterScheduleAndButtons {
  display: flex;
  justify-content: space-between;
}

.masterScheduleText {
  position: fixed;
  margin-left: 10%;
  width: 215px;
  height: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: #000000;
  padding-top: 1.5%;
}

.buttons {
  padding-top: 0.5%;
  align-content: space-between;
  display: flex;
  position: fixed;
  right: 100px;
}

.weekdayBox {
  position: fixed;
  height: 44px;
  left: 380px;
  top: 250px;
  right: 100px;
  width: 67.5%;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #9e9e9e;
  margin-top: 3%;
  padding-top: 0.5%;
}

.boxesAndDates {
  margin-right: 77px;
  display: flex;
  margin-top: 160px;
  height: 450px;
  overflow-y: scroll;
}

.weekdayText {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 4%;
  overflow: hidden;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
}

.box {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 95%;
  height: 95.4px;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  justify-content: space-between;
  overflow-y: auto;
}

.weekdayColumns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  resize: both;
  right: 100px;
}

.sundayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.mondayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.tuesdayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.wednesdayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.thursdayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.fridayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.saturdayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}

.hour {
  margin-bottom: 85px;
}

.hours {
  min-width: 100px;
  margin-left: 50px;
}
.monday {
  padding-left: 25px;
}
.thursday {
  padding-right: 22px;
}
.tuesday {
  padding-left: 14px;
}
.wednesday {
  padding-left: 7px;
}
.friday {
  padding-right: 20px;
}

.form {
  position: fixed;
  display: flex;
  margin-top: 60px;
  margin-left: 35%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
}

.endDate,
.startDate {
  font-family: "Open Sans", sans-serif;
  text-align: right;
}

label {
  display: inline-flex;
  justify-content: flex-end;
  width: 150px;
}

input {
  margin-left: 15px;
}
