.everythingMS {
  /* padding-top: 20%; */
  /* overflow-x: scroll; */
  overflow: hidden;
  position: relative;
}

.masterScheduleAndButtons {
  display: flex;
  justify-content: space-between;
}

.masterScheduleText {
  top: 150px;
  position: fixed;
  margin-left: 10%;
  margin-bottom: 20px;
  width: 215px;
  height: 25px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;
  color: #000000;
}

.currentWeek {
  margin-left: 10%;
  margin-top: 4%;
  display: flex;
  font-family: "Open Sans", sans-serif;
  position: fixed;
}

.arrows {
  margin-top: 3%;
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
  width: 15%;
  position: fixed;
}

.buttonLeftArrow {
  border: none;
  background-color: #f5f5fd;
  cursor: pointer;
}

.buttonRightArrow {
  border: none;
  background-color: #f5f5fd;
  cursor: pointer;
}

.buttons {
  top: 150px;
  align-content: space-between;
  display: flex;
  position: fixed;
  right: 100px;
}

.msmoffitt {
  padding-left: 30%;
}

.weekdayBox {
  position: fixed;
  height: 44px;
  left: 380px;
  top: 220px;
  right: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #9e9e9e;
  padding-top: 8px;
  margin-bottom: 20px;
}

.boxesAndDates {
  margin-right: 77px;
  display: flex;
  margin-top: 160px;
  height: 450px;
  overflow-y: scroll;
}

.weekdayText {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 4%;
  overflow: hidden;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
}

.box {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 95%;
  height: 95.4px;
  margin-bottom: 12px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  text-align: center;
  justify-content: space-between;
  overflow-y: auto;
}

.weekdayColumns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
  resize: both;
  right: 100px;
}

.sundayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.mondayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.tuesdayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.wednesdayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.thursdayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.fridayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}
.saturdayColumn {
  width: 15%;
  height: 60%;
  resize: both;
}

.hour {
  margin-bottom: 80px;
}

.hours {
  min-width: 100px;
  margin-left: 50px;
}
.monday {
  padding-left: 25px;
}
.thursday {
  padding-right: 22px;
}
.tuesday {
  padding-left: 14px;
}
.wednesday {
  padding-left: 7px;
}
.friday {
  padding-right: 20px;
}
