.topWordss {
  margin-top: 2%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
.header {
  font-size: 25px;
  padding-left: 8%;
  float: left;
  color: black;
}
.add {
  font-size: 18px;
  text-align: right;
  float: right;
  padding-right: 10%;
  color: #3626a7;
}

.AddEmployee {
  float: right;
  padding-right: 10%;
  padding-top: 2%;
}

.AddEmpText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding-top: 8%;
}

.AddButton {
  border: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #3626a7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.FirstName,
.LastName,
.Email,
.TrainedFor {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.FirstName {
  display: flex;
  align-items: center;
  float: left;
}

.LastName {
  display: flex;
  align-items: center;
  margin-left: 70%;
}

.FirstNameInput {
  float: left;
  display: flex;
  align-items: center;
}

.LastNameInput {
  margin-left: 70%;
  display: flex;
  align-items: center;
}

.FirstNameInput,
.LastNameInput {
  width: 50%;
  height: 30px;
  left: 519px;
  top: 287px;
  border-radius: 5px;
}

.EmailInput {
  width: 200%;
  height: 30px;
  left: 519px;
  top: 287px;
  border-radius: 5px;
}

.EmployeeName {
  padding-top: 5%;
}

.EmployeeEmail {
  padding-top: 3%;
}

.TrainedFor {
  padding-top: 7%;
}

.AllText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  padding-right: 10%;
}

.RadioButtons {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.MoffittText,
.DoeText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.MoffittText {
  padding-top: 2%;
  padding-left: 80%;
}

.DoeButton {
  padding-left: 140%;
}

.DoeText {
  padding-top: 2%;
  padding-left: 210%;
}
