.topWordss {
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.header {
  font-size: 18px;
  font-weight: 900;
  float: left;
  color: black;
}
.add {
  font-size: 18px;
  text-align: right;
  float: right;
  padding-right: 10%;
  color: #3626a7;
}

.AddEmployee {
  float: right;
  padding-right: 10%;
}

.AddEmpText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding-top: 8%;
  background-color: transparent;
}

.AddButton {
  border: none;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #3626a7;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: transparent;
}

.AddButton:focus,
.CancelButton:focus,
.SubmitButton:focus {
  outline: none;
}

.FirstName,
.LastName,
.Email,
.TrainedFor {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}

.FirstName {
  display: flex;
  align-items: center;
  float: left;
}

.LastName {
  display: flex;
  margin-left: 52%;
}

.addEmpModalInput {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.FirstNameInput,
.LastNameInput {
  width: 48%;
  height: 30px;
  left: 519px;
  top: 287px;
  border-radius: 5px;
  border-style: solid;
  border: none;
  border-width: 1px;
  border: 1px solid #cccccc;
}

.EmailInput {
  width: 200%;
  height: 30px;
  left: 519px;
  top: 287px;
  border-radius: 5px;
  border-style: solid;
  border: none;
  border-width: 1px;
  border: 1px solid #cccccc;
}

.EmployeeName {
  padding-top: 5%;
}

.EmployeeEmail {
  padding-top: 3%;
}

.AllText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10%;
  padding-right: 10%;
  width: 350px;
  padding-top: 0%;
  padding-bottom: 0%;
}

.CancelButton {
  width: 85px;
  height: 44px;
  border: 1px solid #3f3cc8;
  background: #3f3cc8;
  border-radius: 6px;
  align-items: center;
  border: 2px solid transparent;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  margin-left: 7%;
  cursor: pointer;
  padding-top: 0%;
  margin-right: 40px;
}

.SubmitButton {
  background: #ffffff;
  border: 1px solid #3f3cc8;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  width: 85px;
  height: 45px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #3f3cc8;
  padding-top: 0%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin-top: 30px;
}

.modal {
  overflow: hidden;
}
.modal-body {
  overflow: auto;
}

.TrainedFor {
  padding-top: 7%;
}

.RadioButtons {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 0%;
}

.MoffittText,
.DoeText {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}
#moffitt3level,
#moffitt4level,
#doelevel {
  width: 110px;
  margin-right: 20px;
}

.MoffittText {
  padding-top: 2%;
  padding-left: 80%;
}

.DoeButton {
  padding-left: 140%;
}

.DoeText {
  padding-top: 2%;
  padding-left: 210%;
}
.libleveltext {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  background-color: transparent;
}

.TrainedFor {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  padding-top: 8%;
  background-color: transparent;
  padding-bottom: 2%;
}
.libleveltext {
  display: flex;
}
.Moffitt3Input {
  width: 30%;
  height: 30px;
  left: 519px;
  top: 287px;
  border-radius: 5px;
}
.Moffitt4Input {
  width: 30%;
  height: 30px;
  left: 519px;
  top: 287px;
  border-radius: 5px;
}
.DoeInput {
  width: 30%;
  height: 30px;
  left: 519px;
  top: 287px;
  border-radius: 5px;
}
.sameLevelplz {
  display: flex;
  justify-content: space-between;
}
.vertalign {
  display: flex;
  flex-direction: column;
}
.someEmployee {
  background-color: #ffffff;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  font-weight: 300;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  margin: auto;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
}

.holder {
  background: #c4c4c4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-flex;
  margin-top: 7%;
  margin-left: 40px;
  margin-right: 40px;
}

.textFormat {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0%;
  padding-bottom: 5%;
}

.moffitt3Display {
  flex: 1;
  background-color: #ff8d06;
  color: white;
  margin-right: 60%;
  height: 30px;
  width: 150px;
  padding: 2%;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-radius: 20.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-direction: row;
  justify-content: center;
}

.second,
.moffitt3NoDisplay {
  flex: 1;
  background-color: white;
  color: white;
  margin-right: 60%;
  height: 30px;
  width: 150px;
  padding: 2%;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-radius: 20.5px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-direction: row;
  justify-content: center;
}
.moffitt4Display {
  flex: 1;
  background-color: #04b17e;
  color: white;
  margin-right: 60%;
  height: 30px;
  width: 150px;
  padding: 2%;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-radius: 20.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-direction: row;
  justify-content: center;
}
.moffitt4NoDisplay {
  flex: 1;
  background-color: white;
  color: white;
  margin-right: 60%;
  height: 30px;
  width: 150px;
  padding: 2%;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-radius: 20.5px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-direction: row;
  justify-content: center;
}
.doeDisplay {
  flex: 1;
  background-color: #d7269b;
  color: white;
  margin-right: 60%;
  height: 30px;
  width: 150px;
  padding: 2%;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-radius: 20.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-direction: row;
  justify-content: center;
}
.doeNoDisplay {
  flex: 1;
  background-color: white;
  color: white;
  margin-right: 60%;
  height: 30px;
  width: 150px;
  padding: 2%;
  margin: 20px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  border-radius: 20.5px;
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 0%;
  padding-bottom: 0%;
  flex-direction: row;
  justify-content: center;
}

.email {
  font-weight: normal;
  margin-left: 0%;
}

.name {
  font-family: "Open Sans";
  padding-top: 18%;
  font-weight: 900;
  margin-top: 5px;
  margin-left: 0%;
  font-size: 14px;
  margin-bottom: 10px;
}

.lib {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-right: 5%;
}

.pleaseWork {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
