i {
  border: solid black;
  border-width: 0 0.1% 0.1% 0;
  display: inline-block;
}

.everything {
  background-color: #f8fafc;
  height: 790px;
}

.top-bar {
  background-color: white;
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 1;
}

.line {
  position: fixed;
  width: 100%;
  height: 0%;
  left: 0%;
  top: 86px;
  z-index: 0;

  border: 1px solid #c6c4c4;
}

.sidebar {
  padding-top: 130px;
  z-index: 1;
  height: 100%;
  width: 230px;
  background-color: white;
  position: fixed;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.user-box {
  float: right;
  padding-right: 5%;
  z-index: 1;
}

.user-id {
  height: 60px;
  width: 100%;
  background: #fff;
  position: relative;
  cursor: pointer;
}

.user-name {
  height: 100%;
  font-size: 14px;
  padding: 20px;
  float: left;
}

.dropdown-arrow {
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #333;
  position: relative;
  top: 23px;
  left: 100px;
}

.user-id:hover .dropdown-arrow {
  top: 20px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #333;
  border-top: 7px solid transparent;
}

.dropdown-menu {
  list-style-type: none;
  display: none;
  background: #555; /* Non-rgba compatable browsers */
  background: rgba(33, 33, 33, 0.9);
}

.user-id:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
}

.dropdown-menu ul li {
  list-style-type: none;
  display: block;
  height: 60px;
  width: 150px;
  font-size: 14px;
  padding: 20px;
  color: #fff;
  border-bottom: 2px solid #333;
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li:hover {
  background: #333;
  color: #fff;
}

.cover {
  padding-top: 10%;
  padding-left: 15%;
}
