.slot-cont,
.day-cont,
.time-cont {
  width: 125px;
  height: 50px;
}

.slot {
  background-color: white;
  border: 2px solid #3f3cc8;
  border-radius: 3px;
  height: 100%;
}

.slot:hover {
  cursor: pointer;
}

.options-bar {
  display: flex;
  margin-left: 30px;
}

.load-save {
  float: right;
  text-align: left;
  justify-content: flex-start;
  flex: 1;
}

.libraries {
  text-align: right;
  flex: 1;
  margin-right: 30px;
}

.builder-button {
  background-color: #3f3cc8;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  color: #ffffff;
  border: 1px solid black;
  width: 60px;
}

.builder-button:hover {
  background-color: #0f0524;
  cursor: pointer;
}

.libraries button {
  background-color: white;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #3f3cc8;
  width: 110px;
  height: 40px;
  margin-right: 10px;
  border: 1px solid #3f3cc8;
  font-size: 1em;
}

.libraries button:hover {
  background-color: #0f0524;
  color: white;
  cursor: pointer;
}

.libraries button.selected {
  background-color: #0f0524;
  color: white;
  border: 0;
}

.close-modal {
  float: right;
}

.close-modal {
  cursor: pointer;
}

.edit-modal h2 {
  font-size: 1.2em;
}

.edit-modal h3 {
  font-size: 1em;
}

.edit-modal .delete-emp,
.edit-modal .close-modal {
  background-color: transparent;
  border: none;
  color: red;
}

.edit-modal .close-modal {
  padding-top: 5px;
  padding-right: 5px;
  font-size: 1em;
}

.edit-modal .delete-emp:hover,
.edit-modal .close-modal:hover {
  cursor: pointer;
  color: maroon;
  font-weight: bold;
}

.edit-modal {
  border: 1px solid black;
  transform: none !important;
}

.edit-modal .add-employee {
  width: 125px;
  margin-left: 5px;
  font-size: 0.8em;
}

.edit-modal .save-changes {
  margin-top: 10px;
  width: 275px;
}

.slot p {
  font-size: 0.9em;
}

.load-save-input {
  width: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
