@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#overall-container {
  background-color: #f8fafc;
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  z-index: 0;
}

#schedule-container {
  position: relative;
  display: inline-block;
  left: 25%;
  bottom: 2.5%;
  transform: scale(0.9, 0.9);
  width: 66%;
  font-family: "Open Sans";
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px gray;
  padding-right: 32.5px;
  padding-left: 40px;
  padding-bottom: 15px;
  margin-top: -25px;
}

#saveButton {
  position: center;
  width: 10%;
  margin-left: 50%;
  margin-top: 1%;
  height: 40px;
  font-family: "Open Sans";
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 3px gray;
  border-width: 0px;
}

#saveButton:hover {
  font-weight: bold;
}

#saveButton:active {
  background-color: #b0e9c2;
}

#saveButton:focus {
  outline: none;
}

.deselectCell {
  background-color: #f8f8f8;
  height: 25px;
}

.selectCell {
  background-color: #b0e9c2;
  height: 25px;
}

#weekString {
  text-align: center;
  font-weight: lighter;
  color: gray;
}
