#overall-container1 {
  background-color: #f5f5fd;
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  z-index: 0;
  margin-top: -2%;
}

#schedule-container-st1 {
  position: relative;
  display: inline-block;
  left: 24.7%;
  transform: scale(0.9, 0.9);
  width: 66%;
  font-family: "Open Sans";
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  margin-bottom: 2%;
  margin-top: -1.05%;
  height: 116%;
  width: 65%;
  resize: auto;
}

#yourshifts1 {
  margin-top: 3.3%;
  padding-top: 2%;
  padding-left: 29.75%;
  display: flex;
  font-family: "Open Sans", sans-serif;
  justify-content: space-between;
  margin-bottom: 0%;
  z-index: 100;
  font-size: 18px;
  font-weight: 900;
  color: black;
}

#inner-schedule1 {
  overflow-y: auto;
  background-color: white;
  width: 100%;
  height: 800px;
  display: inline-grid;
  grid-column-gap: 10px;
  grid-row-gap: 6px;
  grid-template-areas:
    ". wday wday wday wday wday wday wday"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell";
  padding-bottom: 20px;
  padding-top: 17.5px;
  border-radius: 10px;
}

.open-shift {
  grid-area: "cell";
  background-color: #f8f8f8;
  cursor: pointer;
  border-color: none;
}

.not-open-shift {
  grid-area: "cell";
  background-color: #f8f8f8;
}

.item-wday1 {
  grid-area: "wday";
  font-size: 19px;
  color: black;
  width: 100%;
}

#tsgroup {
  position: absolute;
  background: transparent;
  border: none;
  font-size: 0;
}

.item-hours1 {
  grid-area: "hours";
  font-size: 14px;
  color: black;
  text-align: center;
}
#frontWords1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#libtag1 {
  display: flex;
  font-weight: lighter;
  color: black;
  padding-top: 2%;
  text-align: justify;
  white-space: nowrap;
}
#moffittcolor1 {
  height: 24px;
  width: 24px;
  background-color: #ffa1a1;
}
#doecolor1 {
  height: 24px;
  width: 24px;
  background-color: #b0e9c2;
}
#findingspace1 {
  padding-right: 5%;
}
#defaultcolor1 {
  height: 24px;
  width: 24px;
  background-color: rgb(248, 248, 248);
}
#legend1 {
  display: flex;
  justify-content: center;
}
#weekString1 {
  text-align: center;
  font-weight: lighter;
  color: gray;
}

.YesButton {
  width: 85px;
  height: 44px;
  border: 1px solid #3f3cc8;
  background: #3f3cc8;
  border-radius: 6px;
  align-items: center;
  border: 2px solid transparent;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.NoButton {
  background: #ffffff;
  border: 1px solid #3f3cc8;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  width: 85px;
  height: 45px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #3f3cc8;
}

.buttonContainer {
  padding-top: 8%;
  text-align: right;
}

.question {
  padding-bottom: 4%;
}

.AddButton {
  width: 85px;
  height: 10px;
}
.AddButton a {
  display: block;
  width: 100%;
  line-height: 100%;
}
.arrows {
  padding-top: 1.2%;
  margin-top: 3%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  width: 13%;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.buttonLeftArrow {
  border: none;
  background-color: #f5f5fd;
  cursor: pointer;
}

.buttonRightArrow {
  border: none;
  background-color: #f5f5fd;
  cursor: pointer;
}
