.slot-none {
  background-color: white;
}

.slot-moffitt3 {
  background-color: #ff8d06;
}

.slot-moffitt4 {
  background-color: #04b17e;
}

.slot-main {
  background-color: #d7269b;
}

.slot-cover {
  background-color: #c187d3;
}

.sle-slot-back {
  height: 100%;
  width: 100%;
}

.sle-day-cont,
.sle-time-cont,
.sle-slot {
  width: 125px;
}

.sle-slot {
  height: 20px;
}

.week-label {
  margin-top: -20px; /* Title has margin so we need to come back */
}

.week-label h2 {
  font-size: 1.8em;
}

.color-key h3 {
  display: inline-block;
  font-size: 1.1em;
}

.color-box {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin-left: 5px;
  margin-right: 20px;
}
