#schedule-container-st {
  position: relative;
  overflow: hidden;
  left: 25%;
  bottom: 2.5%;
  transform: scale(0.8, 0.8);
  width: 66%;
  font-family: "Open Sans";
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgb(232, 232, 232);
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

#weekString {
  color: black;
}

#inner-schedule {
  background-color: white;
  width: 100%;
  height: 800px;
  display: inline-grid;
  justify-items: stretch;
  grid-column-gap: 10px;
  grid-row-gap: 6px;
  grid-template-areas:
    ". wday wday wday wday wday wday wday"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell"
    "hours cell cell cell cell cell cell cell";
  padding-bottom: 20px;
  padding-top: 17.5px;
  border-radius: 10px;
}

.item-cell {
  grid-area: "cell";
  background-color: #f8f8f8;
}

.item-wday {
  grid-area: "wday";
  font-size: 19px;
  color: black;
}

.item-hours {
  grid-area: "hours";
  font-size: 14px;
  color: black;
  text-align: center;
}
/* #frontWords {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */
#libtag {
  display: flex;
  font-weight: lighter;
  color: black;
  padding-top: 2%;
  text-align: justify;
  white-space: nowrap;
  margin-right: 40px;
  margin-bottom: 20px;
}
#moffittcolor {
  height: 24px;
  width: 24px;
  background-color: #ffa1a1;
}
#doecolor {
  height: 24px;
  width: 24px;
  background-color: #b0e9c2;
}
#findingspace {
  padding-right: 5%;
}
#defaultcolor {
  height: 24px;
  width: 24px;
  background-color: rgb(248, 248, 248);
}
#legend {
  display: flex;
  justify-content: center;
}
