.topWordssss{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin:auto;
    margin-top: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: #9E9E9E;
}
.middleWordssss{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin:auto;
    background: white;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    color: #9E9E9E;
    margin-bottom: 2%;

}
.msame1{
    margin-left: 5%;
}
.msame2{
    margin-right:5%;
}
.tspecial{
    color: black;
    text-decoration: underline;
    text-decoration-color: #3F3CC8;
}