* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.layout {
  height: 100%;
}

.top-bar {
  height: 20%;
  background-color: white;
  display: flex;
}

.logout {
  float: right;
  border: 0;
  background-color: white;
  font-size: 1.05em;
  margin-left: auto;
  padding-right: 20px;
  font-family: "Open Sans", sans-serif;
}

.logout:hover {
  cursor: pointer;
  text-decoration: underline;
}

.logout:focus {
  outline: none;
  box-shadow: none;
}

.main {
  width: 100%;
  min-height: 80%;
  display: flex;
}

.sidebar {
  flex: 1;
  z-index: 1;
  height: 100%;
  background-color: white;
}

.sidebar-element a {
  padding-left: 20px;
}

.sidebar-element {
  border-radius: 0px 18.5px 18.5px 0px;
  width: 180px;
  height: 45px;
}

.sidebar-element:hover {
  background-color: #f5f5fd;
  color: #3f3cc8;
  font-weight: 640;
}

.content {
  flex: 5;
  background-color: #f5f5fd;
  text-align: center;
}

.title {
  color: black;
  text-align: left;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 1.4em;
}
