
.all{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.add_title{
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    margin-left: 2%;
    margin-bottom: 3%;
}

.messagebox{
    width: 82%;
    height: 269px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.entertext{
    width: 85%;
    height: 40%;
    background: #FFFFFF;
    border: 2px solid #DBDDE4;
    box-sizing: border-box;
    border-radius: 14px;
    margin-top: 5%;
    margin-bottom: 3%;
}

.submit{
    background-color: #3F3CC8;
    width: 14%;
    color: white;
    border-radius: 6px;
    margin-bottom: 3%;
    margin-right: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

.past_title{
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    margin-left: 2%;
    margin-bottom: 3%;
}

.past_section{
    margin-top: 10%;
}