.loginBox {
  width: 400px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  transform: translate(0%, 50%);
}

.loginBoxUpperPart {
  width: 100%;
  padding: 1%;
  margin-left: 0%;
  background: #3f3cc8;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px 15px 0px 0px;
}

.login {
  height: 10%;
  font-family: "Open Sans", sans-serif;
  font-size: 95%;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  padding: 6%;
}

.emailBox {
  width: 80%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c6c4c4;
  box-sizing: content-box;
  border-radius: 8px;
  margin-top: 12%;
  margin-left: 10%;
}

.emailBox:hover {
  color: gray;
}
.passwordBox {
  width: 80%;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c6c4c4;
  box-sizing: content-box;
  border-radius: 8px;
  margin-top: 7%;
  margin-left: 10%;
}

.email {
  font-family: "Open Sans", sans-serif;
  font-style: "normal";
  font-weight: "normal";
  font-size: 72%;
  line-height: 25%;
  color: #828383;
  margin-left: 9%;
  padding-top: 1%;
}

.password {
  font-family: "Open Sans", sans-serif;
  font-style: "normal";
  font-weight: "normal";
  font-size: 72%;
  line-height: 25%;
  color: #828383;
  margin-left: 9%;
  margin-top: 1%;
}

.logInButton {
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  background: #3f3cc8;
  border-radius: 6px;
  align-items: center;
  border: 2px solid transparent;
  vertical-align: middle;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  /* padding-right: 200px; */
}

.logInButton:hover {
  background-color: #ffffff;
  border-radius: 6px;
  color: #3f3cc8;
  cursor: pointer;
  border: 2px solid #3f3cc8;
  margin: 0;
}

.createAccountButton:hover {
  background-color: #3f3cc8;
  color: #ffffff;
}

.logInButtonText:hover {
  color: #3f3cc8;
}

.createAccountButtonText:hover {
  color: #ffffff;
}

.createAccountButton {
  background: #ffffff;
  border: 1px solid #3f3cc8;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #3f3cc8;
  margin-left: 20px;
}

.loginButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  padding-bottom: 30px;
  padding-left: 0px;
}

input[type="text"] {
  width: 300px;
  border: none;
  font-size: 14px;
  margin-top: 15px;
  margin-left: 15px;
}

input[type="password"] {
  width: 300px;
  border: none;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 14px;
  background-color: transparent;
}

input:focus {
  outline: none;
}

button:focus {
  outline: 0;
}
