.SidebarElement {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0%;
  border-radius: 0px 18.5px 18.5px 0px;
  width: 177px;
  height: 45px;
  left: -10px;
  top: 177px;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  line-height: 19px;
  font-size: 14px;
  margin-left: 50px;
  margin-top: 13px;
}

.SidebarElement:hover {
  background-color: #f5f5fd;
  color: #3f3cc8;
  width: 180px;
  font-weight: 640;
}
