
/* .circle {
    background: #C4C4C4;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
    margin-left: 100px;
} */

i {
    border: solid black;
    border-width: 0 3.5px 3.5px 0;
    display: inline-block;
    padding: 3px;

  }

.top-right {
    float: top;
    float: right;
    position: absolute;
    margin-top: 0%;
    
}
  
.sidebar{
    padding-top:10%;
}

.rectangle{
    position: absolute;
    background-color: #F5F5FD;
    width: 1220px;
    height: 690px;
    left: 300px;
    top: 75px;
  }

  body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .user-box {
    margin: 0 auto;
    width: 150px;
  }
  
  .user-id {
    height: 60px;
    width: 100%;
    background: #fff;
    position: relative;
    cursor: pointer;
  }
  
  .user-name {
    height: 100%;
    width: 300px;
    font-size: 14px;
    padding: 20px;
    float: left;
  }

  .dropdown-arrow {
    height: 0;
    width: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #333;
    position: relative;
    top: 23px;
    left: 100px;
  }
  
  .user-id:hover .dropdown-arrow {
    top: 20px;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #333;
    border-top: 7px solid transparent;
  }
  
  .dropdown-menu {
    list-style-type: none;
    display: none;
    background: #555; /* Non-rgba compatable browsers */
    background: rgba(33, 33, 33, 0.9);
  }
  
  .user-id:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
  }
  
  .dropdown-menu ul li {
    list-style-type: none;
    display: block;
    height: 60px;
    width: 150px;
    font-size: 14px;
    padding: 20px;
    color: #fff;
    border-bottom: 2px solid #333;
  }
  
  .dropdown-menu ul li:last-child {
    border-bottom: none;
  }
  
  .dropdown-menu ul li:hover {
    background: #333;
    color: #fff;
  }


  
  